{% extends 'base.html.twig' %}

{% block body %}
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Airport</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{flight.id}}</th>
        <th>{{flight.name}}</th>
        <th>{{flight.airport}}</th>
        <th>
          <form method="post" action="{{ path('app_flight_delete', {'id': flight.id}) }}">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">
                Delete
            </button>
          </form>
        </th>
      </tr>
    </tbody>
  </table>
  <a href="{{ path('homepage') }}">
    <button>
        Go back to dashboard
    </button>
  </a>
{% endblock body %}
